.fp-viewing-hello,
.fp-viewing-about,
.fp-viewing-clients,
.fp-viewing-contacts {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: @black;
  }

  #showMenu {
    color: @black;
  }

  .fp-controlArrow {
    border-color: transparent transparent transparent @black;

    &:after {
      color: @black;
    }
  }
}

.fp-viewing-branding-0 {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #374e73;
  }

  #showMenu {
    color: #374e73;
  }

  .fp-controlArrow {
    border-color: transparent transparent transparent #374e73;

    &:after {
      color: #374e73;
    }
  }
}

.fp-viewing-webdesign-1 {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #374e73;
  }

  #showMenu {
    color: #374e73;
  }
}
