.slides() {
  background-position: center center;
  background-size: cover;
}

#intro {
   background-image: url('../images/slides/01.png');
   .slides();
}

#about {
   background-image: url('../images/slides/02.png');
   .slides();
}

#clients {
  background-image: url('../images/slides/04.png');
  .slides();
}

#contacts {
  background-image: url('../images/slides/05.png');
  .slides();
}

.works {
  &.work-01 {
    background-image: url('../images/works/01.png');
    .slides();
  }
  &.work-02 {
    background-image: url('../images/works/02.png');
    .slides();
  }
  &.work-03 {
    background-image: url('../images/works/03.png');
    .slides();
  }
  &.work-04 {
    background-image: url('../images/works/04.png');
    .slides();
  }
  &.work-05 {
    background-image: url('../images/works/05.png');
    .slides();
  }
}