h1, h2 {
  font-weight: normal;
  color: @black;
  text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
}

h2 {
  font-family: 'FranklinGothic-Heavy';
  font-size: 140px;
  line-height: 120%;
  //font-size: calc(0.5rem + 2.5vmin);
}

h3 {
  font-family: 'FranklinGothic-DemiCond';
  font-size: 60px;
  line-height: 120%;
  line-height: 120%;
}

.fp-controlArrow {
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;

  &:hover {
    text-shadow: 3px 1px 9px rgba(0, 0, 0, 1);
  }

  &.fp-next:after,
  &.fp-prev:after {
    .ionic();
    color: white;
    font-size: 40px;
  }

  &.fp-prev:after {
    content: '\f124';
  }

  &.fp-next:after {
    content: '\f125';
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: @white;
}

.section {
  .inner {
    text-align: center;
    height: 80%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

/////////////////////////////////////////////////////
/// Intro
/////////////////////////////////////////////////////
#intro {
  background: #d0d0d0;

  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    .over-texture()
  }
}

/////////////////////////////////////////////////////
/// About
/////////////////////////////////////////////////////
#about {
  video::-webkit-media-controls {
    display: none;
  }

  video {
    position: absolute;
    z-index: -1;
  }

  &:after {
    .over-texture()
  }
}

/////////////////////////////////////////////////////
/// Clients
/////////////////////////////////////////////////////
#clients {
  background-image: url('../images/slides/04.png');
  .slides();
}

/////////////////////////////////////////////////////
/// Contacts
/////////////////////////////////////////////////////
#contacts {
  background-image: url('../images/slides/05.png');
  .slides();
}

/////////////////////////////////////////////////////
/// Works
/////////////////////////////////////////////////////
.works {
  &.work-01 {
    background-image: url('../images/works/01.png');
    .slides();
  }
  &.work-02 {
    background-image: url('../images/works/02.png');
    .slides();
  }
  &.work-03 {
    background-image: url('../images/works/03.png');
    .slides();
  }
  &.work-04 {
    background-image: url('../images/works/04.png');
    .slides();
  }
  &.work-05 {
    background-image: url('../images/works/05.png');
    .slides();
  }
}