.fp-controlArrow {
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;

  &:hover {
    text-shadow: 3px 1px 9px rgba(0, 0, 0, 1);
  }

  &.fp-next:after,
  &.fp-prev:after {
    .ionic();
    color: white;
    font-size: 40px;
  }

  &.fp-prev:after {
    content: '\f124';
  }

  &.fp-next:after {
    content: '\f125';
  }
}

#fp-nav {
  top: 100px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: @white;
}

.fp-viewing-hello,
.fp-viewing-about,
.fp-viewing-clients,
.fp-viewing-contacts {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: @black;
  }

  #showMenu {
    color: @black;
  }
}


h1, h2 {
  font-weight: normal;
  color: @black;

  @media (min-width:768px) {
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }
}

h2 {
  font-family: 'FranklinGothic-Heavy';
}

h3 {
  font-family: 'FranklinGothic-DemiCond';
}

.section {
  .inner {
    text-align: center;
    height: 80%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  h2 {
    margin: 0;
    font-size: 10em;
    line-height: 120%;
    text-transform: uppercase;
  }

  h3,
  h4 {
    font-size: 24px;
    line-height: 120%;

    @media (min-width:768px) {
      font-size: 3em;
    }

    @media (min-width:992px) {}

    @media (min-width:1200px) {}

    @media (min-width: 1600px) {}
  }

  h4 {
    text-transform: uppercase;
  }

  .text {
    font-size: 16px;
    line-height: 120%;

    @media (min-width:768px) {  }

    @media (min-width:992px) {
      font-size: 2em;
    }

    @media (min-width:1200px) {}

    @media (min-width: 1600px) {}
  }

  .text + .btn {
    margin-top: 30px;
  }

  .del {
    display: block;
    width: 100px;
    height: 5px;
    background: @black;
    margin-bottom: 40px;
  }
}

/////////////////////////////////////////////////////
/// Hello
/////////////////////////////////////////////////////
#slide1 {
  background: #d0d0d0;

  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    .over-texture()
  }
}

/////////////////////////////////////////////////////
/// About
/////////////////////////////////////////////////////
#slide2 {
  video::-webkit-media-controls {
    display: none;
  }

  &:after {
    .over-texture()
  }

  video {
    width: 90%;
    height: 30%;

    @media (min-width:450px) {
      height: 40%;
    }

    @media (min-width:768px) {
      width: 50%;
      position: absolute;
      z-index: -1;
    }

  }

  .text-container {
    margin-left: auto;
    margin-right: 5%;
    width: 90%;
    height: 50%;
    font-size: 100%;

    @media (min-width:768px) {
      width: 45%;
      height: auto;
    }
  }
}

/////////////////////////////////////////////////////
/// Clients
/////////////////////////////////////////////////////
#slide4 {
  background-image: url('../images/slides/04.png');
  background-color: @white;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;

  &:after {
    .over-texture()
  }

  .text-container {

    @media (min-width:768px) {
      width: 40%;
      height: auto;
      float: left;
      position: relative;
      z-index: @z-btn;
    }
  }
}

/////////////////////////////////////////////////////
/// Contacts
/////////////////////////////////////////////////////
#slide5 {
  //background-image: url('../images/slides/05.png');
  background-color: @white;

  &:after {
    .over-texture()
  }

  img {
    max-width: 100%;
    max-height: 50%;

    @media (min-width:450px) {
      //height: 40%;
    }

    @media (min-width:768px) {
      max-height: 100%;
      max-width: 50%;
      position: absolute;
      //bottom: 0;
      float: left;
      z-index: 1;
      //height: auto;
    }

    @media (min-width:992px) {
      //max-width: 70%;
      bottom: 0;
    }

    @media (min-width:1200px) {
      max-width: 100%;
    }
  }

  .text-container {
    margin-left: auto;
    margin-right: 5%;
    width: 90%;
    height: 50%;
    font-size: 100%;

    @media (min-width:768px) {
      width: 40%;
      height: auto;
      float: right;
      position: relative;
      z-index: @z-btn;
    }

    h3 {
      font-size: 4em;

      @media (min-width:1200px) and (max-width: 1400px) {
        text-shadow: -1px 0 @white, 0 1px @white, 1px 0 @white, 0 -1px @white;
      }
    }

    .text {
      font-size: 2em;

      @media (min-width:1200px) {
        font-size: 2.5em;
      }
    }

    table {
      font-family: 'FranklinGothic-DemiCond';
      font-size: 2em;
      margin-bottom: 20px;

      @media (min-width:1200px) {
        font-size: 2.5em;
      }

      tr > td {
        padding-right: 20px;
      }

      td {
        padding-bottom: 5px;
      }

      a {
        color: @black;
        text-decoration: none;
      }
    }
  }
}

/////////////////////////////////////////////////////
/// Works
/////////////////////////////////////////////////////
.works {
  .del {
    background: @white;
  }

  &.work-01 {
    background-image: url('../images/works/01.png');
    .slides();
  }

  &.work-02 {
    background-image: url('../images/works/02.png');
    .slides();
  }

  &.work-03 {
    background-image: url('../images/works/03.png');
    .slides();
  }

  &.work-04 {
    background-image: url('../images/works/04.png');
    .slides();

    .text-container {
      @media (min-width: 768px) {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
      }

      @media (min-width: 992px) {
        width: 60%;
      }

      @media (min-width: 1200px) {
        width: 50%;
      }

      @media (min-width: 1600px) {
      }
    }
  }

  &.work-05 {
    background-image: url('../images/works/05.png');
    .slides();
  }

  .text-container {
    color: @white;
    //position: relative;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    margin-right: 20px;

    @media (min-width:768px) {
      margin-right: 50px;
      width: 60%;
      float: right;
    }

    @media (min-width:992px) {
      width: 50%;
    }

    @media (min-width:1200px) {
      width: 40%;
    }

    @media (min-width: 1600px) {}


    a.btn {
      color: @white;
      border-color: @white;

      &:hover {
        border-color: @pale-red;
      }
    }

    &.t3d {
      -webkit-perspective: 1000px;
      perspective: 1000px;
      transform: skewX(20deg);
      text-shadow: 20px 20px 5px rgba(0, 0, 0, 0.5);

      .text-container-inner {
        -webkit-transform: rotateX(24deg) rotateY(-12deg);
        transform: rotateX(24deg) rotateY(-12deg);
      }
    }

    h2 {
      color: @white;
      //display: inline;

      @media (min-width:768px) {
        text-shadow: -1px 0 @white, 0 1px @white, 1px 0 @white, 0 -1px @white;
      }
    }

    h4 {
      margin: 0;
    }

  }
}